body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    --main-color: rgb(125 46 59);
    --secondary-color: rgb(181, 69, 87);

    --danger-color: rgb(201, 0, 35);
    --success-color: rgb(51, 146, 0);
}

.btn-navigation {
    margin-top: 10px;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: none;
    background-color: transparent;
    i {
        color: white;
        font-size: 20px;
    }
}
.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    span {
        font-size: 13px;
        color: #3f3f3f;
    }

    svg {
        color: #3f3f3f;
        width: 18px;
    }

    &.btn-primary {
        background-color: rgb(230, 179, 37);

        &:hover {
            transition: background-color 0.2s;
            background-color: rgb(155, 128, 64);
        }
    }
    &.btn-secondary {
        background-color: var(--main-color);
        color: white;

        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(85, 32, 41, 0.9);
        }
    }
    &.btn-tertiary {
        background-color: #FFF;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 5px;

        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(125, 46, 59, 0.27);
        }
    }
    &.btn-danger {
        background-color: var(--danger-color);
        color: white;
        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(85, 32, 41, 0.9);
        }
    }
    &.btn-success {
        background-color: var(--success-color);
        color: white;
        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(51,146, 0, 0.9);
        }
    }
}

.txt-0 {
    color: rgb(51,51,51);
}
.txt-1 {
    color: rgb(75,85,99);
}
.txt-2 {
    color: #7B889C
}

.txt-secondary {
    color: var(--main-color);
}

.hidden {
    display: none;
}

.shadow {
    box-shadow: 0 0 10px #E2E8F0;
}

.panel {
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    box-shadow: 0 0 10px #E2E8F0;
    padding: 30px;
}

input {
    border: 1px solid #E2E8F0;
    padding: 10px;
    border-radius: 5px;
}

.services {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin-top: 80px;
    flex-wrap: wrap;

    @media (max-width: 1380px) {
        flex-direction: column;
        align-items: center;
    }

    .service {
        border: 1px solid #E2E8F0;
        border-radius: 10px;
        box-shadow: 0 0 10px #E2E8F0;
        padding: 30px;
        width: 200px;

        &.add {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            margin-bottom: 0;
        }
        p {
            margin: 0 0 10px 0;
            font-size: 14px;
        }

        .service-time {
            display: flex;
            align-items: center;
            gap: 5px;
            svg {
                width: 13px;
                color: #7B889C;
            }
            span {
                font-size: 13px;
            }
        }
    }
}

.clickable {
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;

    select {
        border: 1px solid #d1d5db; /* Gray border */
        font-size: 14px;
        border-radius: 5px; /* Rounded corners for inputs */
        padding: 10px; /* Padding inside inputs */
        transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    textarea {
        border: 1px solid #d1d5db; /* Gray border */
        font-size: 14px;
        border-radius: 5px; /* Rounded corners for inputs */
        padding: 10px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}