body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    span {
        font-size: 13px;
        color: #3f3f3f;
    }

    svg {
        color: #3f3f3f;
        width: 18px;
    }

    &.btn-primary {
        background-color: rgb(230, 179, 37);

        &:hover {
            transition: background-color 0.2s;
            background-color: rgb(155, 128, 64);
        }
    }
    &.btn-secondary {
        background-color: #7d2e3be6;
        color: white;

        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(85, 32, 41, 0.9);
        }
    }
    &.btn-tertiary {
        background-color: #FFF;
        color: #7D2E3B;
        border: 1px solid #7D2E3B;
        border-radius: 5px;

        &:hover {
            transition: background-color 0.2s;
            background-color: rgba(125, 46, 59, 0.27);
        }
    }
}

.txt-0 {
    color: rgb(51,51,51);
}
.txt-1 {
    color: rgb(75,85,99);
}
.txt-2 {
    color: #7B889C
}

.txt-secondary {
    color: #7d2e3be6;
}